---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span>{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
            <div style="width: 100%; margin: 0 auto; text-align: center;">
            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope" style="font-size: 30px; color: #bb001b;"></i></a>&nbsp;&nbsp;
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github" style="font-size: 30px; color: darkslategrey;"></i></a>&nbsp;&nbsp;
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin" style="font-size: 30px; color: #0077b5;"></i></a>
            {% endif %}
            </div>
            
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <div class="brands-section">
            <h2>Affiliations</h2>
            <div class="brands-logos">
              <div class="brand-container">
                <img src="{{ page.brands.jpmc | prepend: 'assets/img/' }}" alt="J.P Morgan Chase" class="brand-logo">
                <p class="industry-text">AI for B2C Financial Personalization</p>
              </div>
              <div class="brand-container">
                <img src="{{ page.brands.abacus | prepend: 'assets/img/' }}" style="margin-left: 20px; max-width: 200px; max-height: 150px;" alt="Abacus AI" class="brand-logo">
                <p class="industry-text">LLM Research</p>
              </div>
              <div class="brand-container">
                <img src="{{ page.brands.cmu | prepend: 'assets/img/' }}" style="margin-left: 15px; max-width: 150px; max-height: 100px;" alt="Carnegie Mellon University" class="brand-logo">
                <p class="industry-text">Computer Vision & LLM Research</p>
              </div>
              <div class="brand-container">
                <img src="{{ page.brands.mstanely | prepend: 'assets/img/' }}" style="margin-top: -5px; max-width: 200px; max-height: 150px;" alt="Morgan Stanley" class="brand-logo">
                <p class="industry-text">AI for B2B Financial Search</p>
              </div>
              <div class="brand-container">
                <img src="{{ page.brands.surrey | prepend: 'assets/img/' }}" style="max-width: 200px; max-height: 150px;" alt="University of Surrey" class="brand-logo">
                <p class="industry-text">Machine Learning Research</p>
              </div>
              <div class="brand-container">
                <img src="{{ page.brands.s4s | prepend: 'assets/img/' }}"  style="margin-left: 10px; max-width: 150px; max-height: 100px;"alt="S4S Technologies" class="brand-logo">
                <p class="industry-text">AI for Agriculture Technology</p>
              </div>
              <div class="brand-container">
                <img src="{{ page.brands.sigmaways | prepend: 'assets/img/' }}" style="max-width: 200px; max-height: 150px;" alt="Sigmaways Inc" class="brand-logo">
                <p class="industry-text">AI for Consulting</p>
              </div>
              <div class="brand-container">
                <img src="{{ page.brands.locale | prepend: 'assets/img/' }}"  style="max-width: 200px; max-height: 150px;"alt="Locale.AI" class="brand-logo">
                <p class="industry-text">AI Agents for Sales</p>
              </div>
            </div>
          </div>
          

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>

<style>

.brands-section {
  padding: 20px 0;
  text-align: center;
}

.brands-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.brands-logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.brand-container {
  text-align: center;
  max-width: 200px;
  margin: 10px;
}

.brand-logo {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 200px;
  transition: transform 0.3s ease;
}

.brand-logo:hover {
  transform: scale(1.1);
}

.industry-text {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  font-weight: normal;
}

</style>